@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* COLORS */
  --color-primary: #0469ab;
  --color-secondary: #5da13f;
  --color-accent: #d97e1f;
  --color-neutral: #e7f5fe;
  --color-background: #fafafa;
  --color-foreground: #333333;
  --color-foreground-heading: #1a1a1a;
  --color-foreground-muted: #555555;
  --color-foreground-disabled: #9e9e9e;
  --color-foreground-borders: #c0c2c9;
  --color-success-light: #e6f4ea;
  --color-success-dark: #2e7d32;
  --color-error-light: #fdecea;
  --color-error-dark: #c62828;
  --color-white: #ffffff;

  /* FONT FAMILY */
  --font-body: Nunito;
  --font-heading: Open-sans;

  /* FONT SIZE */
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 36px;
  --text-5xl: 40px;

  /* RADIUS */
  --radius-rounded-md: 8px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
